/* ------------------------------ */
/* Custom Property */
/* ------------------------------ */

/* color */
:root {
    /* base */
    --main-color: #3F3D56;
    --main-color-lighter: #5F5D77;
    --sub-color: #E6E6E6;
    --accent-color: #FFB6B6;
    /* text */
    --text-color-base: #333;
    --text-color-light: #fff;
    /* background */
    --background-color-base: #fff;
    --background-color-dark: var(--main-color);
    --background-color-light: var(--sub-color);
    /* button */
    --button-color-dark: var(--main-color);
    --button-color-dark-reverse: #fff;
    --button-color-light: var(--accent-color);
}

/* container width */
:root {
    --width-content: 1200px;
}

/* font */
:root {
    --font-family-base: 
        Arial,
        "Noto Sans JP",
        sans-serif;
}

/* ------------------------------ */
/* Common */
/* ------------------------------ */

html {
    background-color: var(--background-color-base);
}

body {
    font-family: var(--font-family-base);
    color: var(--text-color-base);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .05rem;
}

a {
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}

/* ------------------------------ */
/* Component */
/* ------------------------------ */

/* button */
.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .75rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--button-color-dark);
    color: var(--text-color-light);
}

/* ------------------------------ */
/* Layout */
/* ------------------------------ */

/* container */
.l-container {
    max-width: var(--width-content);
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 480px) {
    .l-container {
        padding: 0 40px;
    }
}


/* ------------------------------ */
/* header */
/* ------------------------------ */
.header {
    width: 100%;
    background-color: var(--background-color-dark);
}

.header-inner {
    height: 64px;
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 36px;
}

@media screen and (min-width: 1040px) {
    .header-inner {
        height: 100px;
    }
    .header-logo img {
        height: 48px;
    }
}

/* hamburger button */
.ham-btn {
    z-index: 100;
    position: relative;
    display: block;
    width: 32px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
}
.ham-btn span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-light);
    transition: 0.3s;
}
.ham-btn span:nth-of-type(1) {
    top: 0;
}
.ham-btn span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}
.ham-btn span:nth-of-type(3) {
    bottom: 0;
}
@media screen and (min-width: 1040px) {
    .ham-btn {
        display: none;
    }    
}

/* hamburger button open */
.ham-btn.active span:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg) ;
}
.ham-btn.active span:nth-of-type(2) {
    opacity: 0;
}
.ham-btn.active span:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
}

html.body-scroll-stop,
html.body-scroll-stop body{
	overflow: hidden!important;
	height:100vh!important;
}

/* navigation */
.header-nav-item {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-light);
}

@media not screen and (min-width: 1040px) {
    .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        background-color: var(--background-color-dark);
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }
    /* ham-btn open */
    .header-nav.active {
        z-index: 5;
        opacity: 1;
        visibility: visible;
    }

    .header-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-nav-item + .header-nav-item {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1040px) {
    .header-nav {
        position: inherit;
        margin-left: auto;
    }
    
    .header-nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .header-nav-item + .header-nav-item {
        margin-left: 40px;
    }
    
    .header-nav-item--sp-only {
        display: none;
    }
}

.header-nav-item--contact .c-btn {
    width: 200px;
    background-color: var(--button-color-dark-reverse);
    color: var(--main-color);
}

.header-nav-button-icon {
    height: 1rem;
    width: auto;
    margin-left: .5rem;
    fill: var(--main-color);
}


/* ------------------------------ */
/* footer */
/* ------------------------------ */
.footer {
    width: 100%;
    background-color: var(--background-color-dark);
}

.footer-inner {
    padding: 80px 0;
}
@media screen and (min-width: 1040px) {
    .footer-inner {
        padding: 100px 0;
    }
}

.footer-upper-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1040px) {
    .footer-upper-area {
        flex-direction: row;
    }
}

.footer-logo img {
    height: 36px;
}
@media screen and (min-width: 1040px) {
    .footer-logo img {
        height: 48px;
    }
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0 0;
}

.footer-nav-item {
    font-size: .875rem;
    font-weight: bold;
    color: var(--text-color-light);
}

.footer-nav-item + .footer-nav-item {
    margin: 32px 0 0;
}

@media screen and (min-width: 1040px) {    
    .footer-nav-list {
        flex-direction: row;
        margin-left: auto;
    }
    .footer-nav-item + .footer-nav-item {
        margin: 0 0 0 40px;
    }
    .footer-nav-item {
        font-size: 1rem;
    }    
}

.footer-lower-area {
    margin-top: 64px;
    text-align: center;
}
.footer-copyright {
    display: block;
    font-size: .625rem;
    color: var(--text-color-light);
}
@media screen and (min-width: 1040px) {
    .footer-lower-area {
        margin-top: 64px;
        text-align: left;
    }    
}
